/*this allows me to have no default margin*/
*{
    margin:0px;
}
/* HEADER */

/*I made this part so that i can put a photo above the other*/
.header-section{
   background-color: aqua;
   height: 50px;
   
}
.pattern{
    height: 50px;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

.logo{
    height: 30px;
    margin-top: 10px
}

/* MAIN */

/*margin top and bottom of the titlemain div*/
.titlemain{
    margin-top: 5px;
    margin-bottom: 10px;
}

/*the journalist style allows me to write it in blue*/
.journalist{
    color: rgb(38, 0, 255);
}

/*Margin of the photomain div*/
.photomain{
    margin-bottom: 10px;
}

/*This style allows me to highlight some words or paragraphs*/
.highlighted{
    background-color: yellow;
}

.listlorem{
    margin-top:10px;
}

/* TABLE CSS SECTION */

/*this style allows to collapse the borders of a table*/
table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th{
    height: 20px;
    padding: 1px;
}

/*blue background color and white font*/
.blueback{
    background-color: rgb(0, 125, 241);
    color: white;
}

/*aqua backgrpund color*/
.aquaback{
    background-color: aqua;
}


/* FOOTER */

.footersection{
    margin-top:10px;
}

.artimage{
    width: 200px;
    height:200px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:10px;
}

.graphimage{
    background-image: url("../img/graph.jpg");
    background-size: cover;
}

.monitorimage{
    background-image: url("../img/monitor.jpg");
    background-size: cover;
}