/*this allows me to have no default margin*/
*{
    margin:0px;
    font-family: 'Roboto Slab', serif;
}

.greyfont{
    color:grey;
    margin-bottom: 10px;
}

/* HEADER */

/*I made this part so that i can put a photo above the other*/
.header-section{
   background-color: aqua;
   height: 70px;
   
}
.pattern{
    height: 100%;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

.logo{
    height: 40px;
    margin-top: 30px;
}

/* MAIN */

/*margin top and bottom of the titlemain div*/
.titlemain{
    margin-top: 5px;
    margin-bottom: 10px;
}

/*the journalist style allows me to write it in blue*/
.journalist{
    color: rgb(38, 0, 255);
}

/*Margin of the photomain div*/
.photomain{
    margin: 10px;
}

/*made for resize the subtitle infos of the photos*/
.subtitle{
    font-size: 0.7rem;
}

/*This style allows me to highlight some words or paragraphs*/
.highlighted{
    background-color: yellow;
}

.listlorem{
    margin-top:10px;
}

/* TABLE CSS SECTION */
.tablebox{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*this style allows to collapse the borders of a table*/
table{
    border-collapse: collapse;
    width:100%;
}

th{
    height: 20px;
    
}

td{
    height:40px;
    width:20%;
}

/*blue background color and white font*/
.blueback{
    background-color: rgb(0, 125, 241);
    color: white;
}

/*aqua backgrpund color*/
.aquaback{
    background-color: aqua;
}


/* FOOTER */

.footersection{
    margin:10px;
}

.artimage{
    width: 200px;
    height:200px;
    color: white;
    font-weight: bold;
    margin-bottom:10px;
}

.graphimage{
    background-image: url("../img/graph.jpg");
    background-size: cover;
}

.monitorimage{
    background-image: url("../img/monitor.jpg");
    background-size: cover;
}