*{
    margin:0px;
}
/* HEADER */

.header-section{
   background-color: aqua;
   height: 50px;
   margin: 0px;
}
.pattern{
    height: 50px;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

.logo{
    height: 30px;
    margin-top: 10px
}

/* MAIN */

.journalist{
    color: rgb(38, 0, 255);
}

.highlighted{
    background-color: yellow;
}



/* TABLE CSS SECTION */
table{
    border-collapse: collapse;
}
td, th{
    padding: 8px;
}
.blueback{
    background-color: rgb(0, 125, 241);
    color: white;
}

.aquaback{
    background-color: aqua;
}

/* FOOTER */



.artimage{
    width: 200px;
    height:200px;
    color: white;
    font-weight: bold;
    margin: 5px;
}

.graphimage{
    background-image: url("../img/graph.jpg");
    background-size: contain;
}

.monitorimage{
    background-image: url("../img/monitor.jpg");
    background-size: contain;
}